.body-wrapper,
.page-wrapper
  min-height: 100vh
  overflow: hidden
  margin: 0 auto

.page-container-wrapper,
.container-wrapper
  position: relative

.container-wrapper
  width: 60%
  margin: 0 auto
  @include media-desktop
  @include media-tablet-landscape
    width: 80%
  @include media-tablet-portrait
    width: 80%
  @include media-phone
    width: 90%
