.pz-appointment__form-wrapper
.pz-appointment__form
.pz-appointment__form-row
  margin-bottom: 10px


.pz-appointment__form-input
  margin-bottom: 19px
  input,
  textarea
    width: 100%
    padding: 1.0rem 2rem
    border: 2px solid $bl
    border-radius: 35px
    @extend %sans-serif-font
    text-transform: uppercase
    color: $bl
    font-size: 18px
    background: $pt2a 
    -webkit-transition: border-color 0.2s
    -moz-transition:    border-color 0.2s
    -ms-transition:     border-color 0.2s
    -o-transition:      border-color 0.2s
    transition:         border-color 0.2s
    @include placeholder-style(color, $bl)
    &:hover,
    &:active,
    &:focus
      border-color: $mn


.pz-appointment__form-button

.pz-appointment__row-1
  display: flex
  flex-direction: row
  justify-content: space-between

  .pz-appointment__form-section
    flex: 0 0 50%
    &:nth-of-type(1)
      .pz-appointment__form-input
        margin-right: 25px
      

    .pz-appointment__form-row
      display: flex
      flex-direction: row
      .pz-appointment__form-input
        flex-grow: 1

.pz-appointment__row-2




@include media-desktop
@include media-tablet-landscape
@include media-tablet-portrait
@include media-phone

