.banner__item
  height: 280px
  overflow: hidden
  position: relative
  background-position: center
  background-repeat: no-repeat
  background-size: cover

@include media-desktop
@include media-tablet-landscape
@include media-tablet-portrait
@include media-phone
  .banner__item
    height: 478px
