.card__simple-offer 

.price-item,
.price-item:hover,
.price-item:focus,
.price-item:active,
.price-item:visited 
  text-decoration: none
  color: inherit
  cursor: pointer

.price-item-title 
  background-position: center
  background-repeat: no-repeat
  background-size: contain
  width: 100%
  height: 100%
  padding: 1.2rem 0
  font-size: 3rem
  vertical-align: center

