.contact-info
  position: relative
  bottom: 130px
  &__content
    color: $wt
    background-color: $mn
    padding: 3rem 4rem
    h4
      text-transform: capitalize
      font-weight: bold
    span
      &:nth-of-type(1), 
      &:nth-of-type(4)
        @extend %sans-serif-font
        text-transform: uppercase
        font-size: .8rem
        font-weight: bold
        margin-bottom: .5rem
        margin-top: 1.5rem

img.contact-info__image
  align-self: center
  max-width: 55%

@include media-desktop
  img.contact-info__image
    max-width: 55%
@include media-tablet-landscape
  .contact-info
    bottom: 7rem
  img.contact-info__image
    max-width: 55%
@include media-tablet-portrait
  img.contact-info__image
    max-width: 100%
  .contact-info
    width: 90%
    margin: 0 auto
    position: relative
    bottom: 0
    flex-direction: column !important
    &__content
      font-size: 3rem
    &__image
      margin-left: 0 !important
    h4
      font-size: 3rem
    span
      font-size: 2.5rem
      &:nth-of-type(1), 
      &:nth-of-type(4)
        font-size: 2rem
        font-weight: bold
        margin-bottom: 1.5rem
        margin-top: 2.5rem
@include media-phone
  .contact-info
    &__content
      font-size: 3rem
    h4
      font-size: 4rem
    span
      font-size: 3.5rem
      &:nth-of-type(1), 
      &:nth-of-type(4)
        font-size: 2.5rem
        font-weight: bold
        margin-bottom: 1.5rem
        margin-top: 2.5rem
