.pz-map__wrapper
  margin: 0 auto
  @include media-desktop
  @include media-desktop-s
  @include media-tablet-landscape
  @include media-tablet-portrait
    width: 100% 
  @include media-phone
    width: 100% 
  @include media-phone-s
