.pz-nav__fixed
  position: fixed
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
  top: 0

.pz-nav__top-row
  background-color: $pt3
  color: $mn
  font-family: $font-second

  .pz-container-wrapper
    display: flex
    flex-direction: row
    justify-content: space-between

    svg
      position: relative
      bottom: 2px
      color: $bl

nav.pz-nav__bottom-row
  background-color: $wt
  z-index: 9
  width: 100%
  top: 0

.pz-nav__contact-details
  span
    svg
      margin-right: 10px

.pz-social-list__item
