.pz-animated-banner
  position: relative
  width: 100%
  height: auto
  display: block

.pz-animated-banner__item
  overflow: hidden
  max-width: 100%
  height: auto

.pz-animated-banner__item-top-layer
  position: absolute
  top: 50%
  transform: translateY(-50%)
  left: 20%
  width: 30%

.pz-animated-banner__item-title,
.pz-animated-banner__item-subtitle
  color: white

.pz-animated-banner__item-title
  font-family: $font-third
  text-transform: lowercase
  line-height: 4rem
  font-size: 4.0rem
  &::before
    content: "♥"
    margin-right: 11px 
    font-size: 1.2rem
    position: relative

.pz-animated-banner__item-subtitle
  font-weight: 900
  font-size: 3.9rem
  line-height: 3.9rem
  margin-bottom: 4rem

@include media-desktop

@include media-tablet-landscape

@include media-tablet-portrait
  .pz-animated-banner__item-top-layer
    width: 85%
  .pz-animated-banner__item-title
    &::before
      color: white
      content: "♥"

@include media-phone
  .pz-animated-banner__item-top-layer
  .pz-animated-banner__item-subtitle
  .pz-animated-banner__item
    position: relative
    right: 20px
    overflow: hidden
    max-width: 150%
    height: auto
  .pz-animated-banner__item-title
    line-height: 5rem
    font-size: 4.0rem
    &::before
      content: "♥"
      margin-right: 11px 
      font-size: 1.2rem
      position: relative
  .pz-animated-banner__item-subtitle
      font-size: 9rem
      line-height: 8rem
      margin-bottom: 4rem
