.pz-testimony__slider
  display: flex
  .pz-testimony__slider-item
    padding: 0 35px
    border-right: 1px solid $bl
    min-height: 350px
    p
     font-weight: bold
     font-size: 1.1rem
     line-height: 1.5rem
    span
      font-size: 0.8rem
      text-align: center
      display: block
      svg
        margin: 0 10px
    h4
      font-size: 1rem
      text-align: center
      margin-top: 20px

.slick-track
  margin-bottom: 100px !important
.slick-dots
  margin-top: 40px
  li
    width: 30px
    height: 30px
    button
      width: 30px
      height: 30px
      &::before
        width: 30px
        height: 30px
        line-height: 30px
    
li.slick-active
  button
    border: 1px solid $bl
    border-radius: 50%

