.welcome__wrapper
  background-color: $pt3a
  padding-bottom: 230px
.welcome__section,
.welcome__title
  text-align: center
.welcome__section
  max-width: 75%
  margin: 0 auto
.welcome__title
  margin-bottom: 25px
  font-size: 3.5rem
.welcome__content
  font-size: 1.2rem
  line-height: 1.6rem

@include media-desktop
@include media-tablet-landscape
@include media-tablet-portrait
@include media-phone
