@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap')

$font-second: 'FrankRuhlLibre', serif
$font-third: 'Mrs Saint Delafield', cursive

.price-item-title
  font-family: $font-second
  font-weight: 900
  font-size: 3rem

.price-item-price-before
  font-family: $font-third
  font-size: 2.5rem !important
  line-height: normal

